.headerTable {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1077px;
    height: 54px;
    margin-top: 15px;
    left: 226px;
    background-color: #5a5c66
}

select {
    background-color: #5a5c66;
    border: none;
    color: white;
}

select::after {
    border:none;
    background-color:#5a5c66
}