.column {
  height: 7.6vh;
}
.id {
  width: 9%;
  text-align: center;
}

.title {
  width: 50%;
  height: auto;
  overflow-wrap: break-word;
  color: #474955;
  font-size: 13px;
  line-height: 17.9px;
}

.body {
  height: auto;
  overflow-wrap: break-word;
  color: #474955;
  font-size: 13px;
  line-height: 17.9px;
}

.selectPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 54px;
  margin-top: 15px;
}

.data {
  width: 100%;
  height: auto;
}

.btnPage {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: white;
}

.btnPage.active {
  color: green;
}

.btnBackNext {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 500;
}
