.column {
  height: 7.6vh;
}
.id {
  width: 70px;
  text-align: center;
}

.title {
  width: 480px;
  height: auto;
  margin-left: 120px;
  overflow-wrap: break-word;
  color: #474955;
  font-size: 13px;
  line-height: 17.9px;
  
}

.body {
  height: auto;
  overflow-wrap: break-word;
  color: #474955;
  font-size: 13px;
  line-height: 17.9px;
}

.selectPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 54px;
  margin-top: 15px;
}

.data {
  width: 100%;
  height: auto;
}

.btnPage {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: white;
}

.btnPage.active {
  color: green;
}

.btnBackNext {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 500;
}


@media (min-width: 220px) and (max-width: 1345px) {
  .table {
    margin-left: -240px;
    font-size: 16px;
  }
  .title {
    font-size: 20px;
  }
  .body {
    font-size: 20px;
  }
}
