.headerTable {
  display: flex;
  align-items: center;
  width: 1077px;
  height: 54px;
  margin-top: 15px;
  background-color: #5a5c66;
}

.idHeader {
  margin-left: 16px;
}

.nameCaptionHeader {
  margin-left: 175px;
}

.nameDescriptionHeader {
  margin-left: 400px;
}

