.column {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 13px; */
  border: 1px solid black;
  align-items: center;
  justify-self: center;
}
.id {
  width: 60px;
}

.title {
  width: 490px;
  height: 58px;
  margin-left: 120px;
  /* border: 1px solid black; */
}

.body {
  width: 415px;
  height: auto;
  /* border: 1px solid black; */
}

.selectPage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}